main {
    width: 80%;
    margin: 0 auto;
    margin-top: 2%;
}

.buttons-container {
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 1%;
    padding-left: 3%;
}

.button {
    border-radius: 10%;
    padding: 0.2%;
    padding-left: 0.8%;
    padding-right: 0.8%;
}

#main-line {
    height: 1.5px;
    background-color: rgb(235, 233, 233);
    border: none;
}

.selects-container {
    padding-top: 3%;
}

.content-container {
    padding-top: 1%;
    padding-right: 3%;
    padding-bottom: 3%;
    padding-left: 3%;
}