* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.border-1-solid {
    border: 1px solid;
}

/* bg colors */

.bg-gray {
    background-color: rgb(235, 233, 233);
}

.bg-white {
    background-color: white;
}

.bg-sky-blue {
    background-color: rgb(0, 136, 255);
}